openapi: 3.0.3
info:
  title: GVTEWAY API
  description: |
    GVTEWAY - White-label live entertainment experience platform API.
    
    ## Authentication
    All authenticated endpoints require a valid JWT token in the Authorization header:
    ```
    Authorization: Bearer <token>
    ```
    
    ## Rate Limiting
    - Authenticated: 1000 requests per hour
    - Unauthenticated: 100 requests per hour
    - Write operations: 100 requests per hour
    - Read operations: 500 requests per hour
    
    ## Webhooks
    The API supports webhooks for real-time event notifications.
    Configure webhook URLs in your brand settings.
    
    ## Batch Operations
    Bulk endpoints support batch operations for improved efficiency.
    Maximum batch size: 100 items per request.
    
  version: 2.0.0
  contact:
    name: API Support
    email: support@gvteway.com
  license:
    name: Proprietary
    url: https://gvteway.com/terms

servers:
  - url: https://gvteway.com/api/v1
    description: Production server
  - url: https://staging.gvteway.com/api/v1
    description: Staging server
  - url: http://localhost:3000/api/v1
    description: Development server

tags:
  - name: Events
    description: Event management operations
  - name: Artists
    description: Artist directory operations
  - name: Tickets
    description: Ticketing and orders
  - name: Products
    description: Merchandise and products
  - name: Messages
    description: User messaging
  - name: Chat
    description: Event chat rooms
  - name: Search
    description: Search operations
  - name: Notifications
    description: Push notifications
  - name: Admin
    description: Administrative operations
  - name: Auth
    description: Authentication and user management
  - name: Checkout
    description: Checkout and payment operations
  - name: Memberships
    description: Membership tier management
  - name: Orders
    description: Order management
  - name: Analytics
    description: Analytics and reporting
  - name: Webhooks
    description: Webhook integrations
  - name: Batch
    description: Bulk operations

paths:
  /events:
    get:
      tags:
        - Events
      summary: List all events
      description: Retrieve a paginated list of events with optional filtering
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: status
          in: query
          schema:
            type: string
            enum: [upcoming, on_sale, sold_out, past]
        - name: event_type
          in: query
          schema:
            type: string
        - name: search
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
    post:
      tags:
        - Events
      summary: Create a new event
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventCreate'
      responses:
        '201':
          description: Event created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /events/{eventId}:
    get:
      tags:
        - Events
      summary: Get event by ID
      parameters:
        - name: eventId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '404':
          $ref: '#/components/responses/NotFound'

  /messages:
    get:
      tags:
        - Messages
      summary: Get messages
      description: Get all conversations or a specific conversation
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: query
          description: Get conversation with specific user
          schema:
            type: string
            format: uuid
        - name: action
          in: query
          description: Special action (e.g., unread-count)
          schema:
            type: string
            enum: [unread-count]
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      messages:
                        type: array
                        items:
                          $ref: '#/components/schemas/Message'
                  - type: object
                    properties:
                      conversations:
                        type: array
                        items:
                          $ref: '#/components/schemas/Conversation'
                  - type: object
                    properties:
                      count:
                        type: integer
    post:
      tags:
        - Messages
      summary: Send a message
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - recipientId
                - message
              properties:
                recipientId:
                  type: string
                  format: uuid
                message:
                  type: string
                  maxLength: 1000
                metadata:
                  type: object
      responses:
        '201':
          description: Message sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/components/schemas/Message'

  /chat/{roomId}:
    get:
      tags:
        - Chat
      summary: Get chat messages
      parameters:
        - name: roomId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: before
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      $ref: '#/components/schemas/ChatMessage'
    post:
      tags:
        - Chat
      summary: Send chat message
      security:
        - bearerAuth: []
      parameters:
        - name: roomId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - message
              properties:
                message:
                  type: string
                  maxLength: 500
                messageType:
                  type: string
                  enum: [text, image, system]
                  default: text
      responses:
        '201':
          description: Message sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/components/schemas/ChatMessage'

  /notifications/subscribe:
    post:
      tags:
        - Notifications
      summary: Subscribe to push notifications
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - subscription
              properties:
                subscription:
                  type: object
                  properties:
                    endpoint:
                      type: string
                    keys:
                      type: object
                      properties:
                        p256dh:
                          type: string
                        auth:
                          type: string
                userAgent:
                  type: string
      responses:
        '200':
          description: Subscription successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean

  /artists:
    get:
      tags:
        - Artists
      summary: List all artists
      description: Retrieve a paginated list of artists
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: search
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  artists:
                    type: array
                    items:
                      $ref: '#/components/schemas/Artist'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /artists/{artistId}:
    get:
      tags:
        - Artists
      summary: Get artist by ID
      parameters:
        - name: artistId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Artist'

  /orders/{orderId}:
    get:
      tags:
        - Orders
      summary: Get order details
      security:
        - bearerAuth: []
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'

  /orders/{orderId}/refund:
    post:
      tags:
        - Orders
      summary: Refund an order
      security:
        - bearerAuth: []
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                amount:
                  type: number
      responses:
        '200':
          description: Refund processed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  refund:
                    type: object

  /memberships/tiers:
    get:
      tags:
        - Memberships
      summary: List membership tiers
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  tiers:
                    type: array
                    items:
                      $ref: '#/components/schemas/MembershipTier'

  /memberships/subscribe:
    post:
      tags:
        - Memberships
      summary: Subscribe to membership tier
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - tierId
              properties:
                tierId:
                  type: string
                  format: uuid
                paymentMethodId:
                  type: string
      responses:
        '201':
          description: Subscription created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  subscription:
                    type: object

  /memberships/current:
    get:
      tags:
        - Memberships
      summary: Get current user membership
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Membership'

  /checkout/create-session:
    post:
      tags:
        - Checkout
      summary: Create checkout session
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - items
              properties:
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      ticketTypeId:
                        type: string
                        format: uuid
                      quantity:
                        type: integer
      responses:
        '201':
          description: Session created
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessionId:
                    type: string
                  url:
                    type: string

  /admin/analytics:
    get:
      tags:
        - Admin
        - Analytics
      summary: Get analytics dashboard data
      security:
        - bearerAuth: []
      parameters:
        - name: startDate
          in: query
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  revenue:
                    type: number
                  ticketsSold:
                    type: integer
                  events:
                    type: integer

  /batch/events:
    post:
      tags:
        - Batch
        - Events
      summary: Bulk create or update events
      description: Create or update multiple events in a single request (max 100)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - operations
              properties:
                operations:
                  type: array
                  maxItems: 100
                  items:
                    type: object
                    required:
                      - action
                      - data
                    properties:
                      action:
                        type: string
                        enum: [create, update, delete]
                      id:
                        type: string
                        format: uuid
                        description: Required for update/delete operations
                      data:
                        $ref: '#/components/schemas/EventCreate'
      responses:
        '200':
          description: Batch operation completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        status:
                          type: string
                          enum: [success, error]
                        error:
                          type: string
                  summary:
                    type: object
                    properties:
                      total:
                        type: integer
                      successful:
                        type: integer
                      failed:
                        type: integer

  /batch/tickets:
    post:
      tags:
        - Batch
        - Tickets
      summary: Bulk ticket operations
      description: Process multiple ticket operations in a single request (max 100)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - operations
              properties:
                operations:
                  type: array
                  maxItems: 100
                  items:
                    type: object
                    required:
                      - action
                      - ticketId
                    properties:
                      action:
                        type: string
                        enum: [validate, invalidate, transfer]
                      ticketId:
                        type: string
                        format: uuid
                      transferTo:
                        type: string
                        format: uuid
                        description: Required for transfer action
      responses:
        '200':
          description: Batch operation completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        ticketId:
                          type: string
                        status:
                          type: string
                          enum: [success, error]
                        error:
                          type: string

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Event:
      type: object
      properties:
        id:
          type: string
          format: uuid
        brand_id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        description:
          type: string
        event_type:
          type: string
        start_date:
          type: string
          format: date-time
        end_date:
          type: string
          format: date-time
        venue_name:
          type: string
        venue_address:
          type: object
        age_restriction:
          type: string
        capacity:
          type: integer
        status:
          type: string
          enum: [upcoming, on_sale, sold_out, past]
        hero_image_url:
          type: string
        hero_video_url:
          type: string
        metadata:
          type: object
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    EventCreate:
      type: object
      required:
        - name
        - slug
        - start_date
      properties:
        name:
          type: string
        slug:
          type: string
        description:
          type: string
        event_type:
          type: string
        start_date:
          type: string
          format: date-time
        end_date:
          type: string
          format: date-time
        venue_name:
          type: string
        capacity:
          type: integer

    Message:
      type: object
      properties:
        id:
          type: string
          format: uuid
        sender_id:
          type: string
          format: uuid
        recipient_id:
          type: string
          format: uuid
        message:
          type: string
        read:
          type: boolean
        read_at:
          type: string
          format: date-time
        metadata:
          type: object
        created_at:
          type: string
          format: date-time

    Conversation:
      type: object
      properties:
        partnerId:
          type: string
          format: uuid
        partner:
          type: object
        lastMessage:
          $ref: '#/components/schemas/Message'
        unreadCount:
          type: integer

    ChatMessage:
      type: object
      properties:
        id:
          type: string
          format: uuid
        room_id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        message:
          type: string
        message_type:
          type: string
          enum: [text, image, system]
        metadata:
          type: object
        created_at:
          type: string
          format: date-time

    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer

    Artist:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        bio:
          type: string
        profile_image_url:
          type: string
        genres:
          type: array
          items:
            type: string
        social_links:
          type: object
        created_at:
          type: string
          format: date-time

    Order:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        total_amount:
          type: number
        status:
          type: string
          enum: [pending, completed, refunded, cancelled]
        items:
          type: array
          items:
            type: object
        created_at:
          type: string
          format: date-time

    MembershipTier:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        price:
          type: number
        interval:
          type: string
          enum: [monthly, yearly]
        benefits:
          type: array
          items:
            type: string
        credits_per_month:
          type: integer

    Membership:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        tier_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [active, cancelled, expired]
        current_period_start:
          type: string
          format: date-time
        current_period_end:
          type: string
          format: date-time
        credits_remaining:
          type: integer

    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        code:
          type: string

    BatchOperationResult:
      type: object
      properties:
        success:
          type: boolean
        results:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
                enum: [success, error]
              error:
                type: string
        summary:
          type: object
          properties:
            total:
              type: integer
            successful:
              type: integer
            failed:
              type: integer

  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
